<template>
  <div>
    <img :src="image" alt="" class="img" />
  </div>
</template>

<script>
export default {
  name: "BigImage",
  props: {
    image: {
      type: String,
      default: () => "Empty string",
    },
  },
};
</script>
<style scoped>
.img {
  width: 100%;
}
</style>
