<template>
  <div class="container">
    <TopNav />
    <div class="centered">
      <div class="icon" @click="previousImage()"><PreviousButton /></div>
      <div class="gallery">
        <div>
          <img
            :src="this.selectedImage.src"
            class="main-image"
            width="450px"
            height="300px"
          />
        </div>
        <div>
          <ul class="image-list">
            <li v-for="(image, index) in imageList" :key="index">
              <img
                :src="image.src"
                :alt="image.alt"
                width="50px"
                height="50px"
                @click="selectImage(image)"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="icon" @click="nextImage()"><NextButton /></div>
    </div>
  </div>
</template>
<script>
import TopNav from "~/components/nav/TopNav.vue";
import NextButton from "~/components/icons/NextButton.vue";
import PreviousButton from "~/components/icons/PreviousButton.vue";
// TODO stworzyć iterator po obrazkach, aby wyciągnąć nazwę

export default {
  components: { TopNav, NextButton, PreviousButton },
  data() {
    return {
      imageList: [
        {
          order: 0,
          src: "/images/Jaguar-XF-I-32.jpg",
          alt: "image",
        },
        {
          order: 1,
          src: "/images/jaguar-680.webp",
          alt: "image",
        },
        {
          order: 2,
          src: "/images/Jaguar-XJR.jpg",
          alt: "image",
        },
        {
          order: 3,
          src: "/images/jaguar_xf_23.webp",
          alt: "image",
        },
      ],
      selectedImage: {
        order: 0,
        src: "/images/Jaguar-XF-I-32.jpg",
        alt: "image",
      },
    };
  },
  methods: {
    selectImage(image) {
      this.selectedImage = image;
    },
    previousImage() {
      if (this.selectedImage.order > 0) {
        this.selectedImage = this.imageList[this.selectedImage.order - 1];
      }
    },
    nextImage() {
      if (this.selectedImage.order < this.imageList.length - 1) {
        this.selectedImage = this.imageList[this.selectedImage.order + 1];
      }
    },
  },
};
</script>
<style scoped>
div .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
div .centered {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.icon {
  display: inline;
  height: 100%;
  font-size: 2rem;
}
</style>
