<template>
  <div>
    <TopNav />
    <h2>Strona domowa</h2>
    <bigImage image="/images/Jaguar-XF-I-32.jpg" />
  </div>
</template>

<script>
import TopNav from "../components/nav/TopNav.vue";
import bigImage from "../components/gallery/bigImage.vue";
export default {
  name: "IndexPage",
  components: { TopNav, bigImage },
};
</script>
