<template>
  <div class="nav">
    <div class="left-nav item2">
      <span><NuxtLink to="/">Strona domowa</NuxtLink></span>
      <span><NuxtLink to="/about">O nas</NuxtLink></span>
      <span><NuxtLink to="/gallery">Galeria</NuxtLink></span>
    </div>
  </div>
</template>
<script></script>

<style scoped>
.nav {
  display: flex;
  border: 3px solid red;
  background-color: red;
  height: 100%;
  width: 100%;
  min-width: 100%;
  font-size: 1.5em;
  padding-bottom: 1.5em;
}
hr {
  width: 100%;
  min-width: 100%;
}
.left-nav {
  border: none;
}
a {
  text-decoration: none;
}
</style>
